%h1 Listing wishlists

%table
  %thead
    %tr
      %th User
      %th Count
      %th
      %th

  %tbody
    - @wishlists.each do |wishlist|
      %tr
        %td= wishlist.user.email
        %td= wishlist.count
        %td= link_to 'Show', wishlist
      -wishlist.wishlist_items.each do |item|
        %tr
          %td= item.name
